@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Prompt:wght@100;200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  background: linear-gradient(270deg, #222e40 0%, #51c3b8 100%);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
img {
  display: block;
  max-width: 100%;
}