@import url(reset.css);
@import url(anim.css);
@import url(queries.css);




.flex {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.conteudo {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgba(105,221,201,1);
  box-shadow: -3px 0px 45px -6px #384b639c;
  width: 550px;
  height: 500px;
  margin: 10px;

}
.formulario {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(42deg, #2a2e36 0%, #616b7d 100%);
  box-shadow: -3px 0px 45px -6px #384b639c;
  width: 550px;
  height: 500px;
  margin: 10px;

}

.conteudo h1 {
  margin: 20px;
  padding: 10px;
}
